@import "./compass/css3";

$fontsize:12x!default;
$zIndex:10!default;
$baseBgColor:#000!default;
$baseColor:#fff!default;
$basePadding: 2.2vh!default;
$baseUnSepColor:#CCCC99!default;
$baseSepColor:#CCFF00!default;
$baseImportentColor:#FF0033!default;
$baseOtherBorderColor:#339999;
//清楚浮动
@mixin clearfix(){
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

*{
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}

.clearfix{
  @include clearfix;
}